.loader,
.loader:after {
  border-radius: 50%;
  height: 10em;
  width: 10em;
}

.hidden {
  visibility: hidden;
}

.loader {
  animation: spinner 1.1s infinite linear;
  border-bottom: 0.3em solid #dedede33;
  border-left: 0.3em solid #e0e0e0;
  border-right: 0.3em solid #dedede33;
  border-top: 0.3em solid #dedede33;
  font-size: 10px;
  position: relative;
  transform: translateZ(0);
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
