:root {
  color-scheme: light dark;
  --border-color: #efefef;
  --button-color: #e4e4e4;
  --button-text-color: #000000a1;
  --button-disabled-text-color: #0000003d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #373737;
    --button-color: #464646;
    --button-text-color: #f6f6f6a1;
    --button-disabled-text-color: #cacaca3d;
  }
}

html,body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
}

.main {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
}

.sub-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width : 985px) {
  .container {
    width: 985px;
  }

  .view-container {
    margin: 16px 40px;
  }
}
