<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="../../images/favicon.ico">
    <title>Meerkat</title>
  </head>
  <body>
    Error {{ code }}
  </body>
</html>
