<template>
  <div class="main">
    <div class="container">
        <div class="sub-container">
          <div class="view-container">
            <div class="action-container">
                <div class="button-wrapper">
                    <button v-on:click="commit" v-bind:disabled="spinning">Paste</button>
                    <button v-on:click="previewOrEdit" v-bind:disabled="spinning" class="preview-button">{{ previewButtonName }}</button>
                    <span class="loader" v-bind:class="{hidden: !spinning}"></span>
                </div>
                <input v-model="pasteLink" readonly v-on:touchmove="select" v-on:click="select" v-bind:class="{error: isError}"></input>
            </div>
            <div class="editer-container">
                <div class="text-container" v-show="!viewing">
                    <textarea v-model="content"
                              v-on:focus="contentFocus"
                              v-bind:placeholder="placeholder"
                              v-bind:readonly="spinning"></textarea>
                </div>
                <template v-if="viewing">
                  <div class="splitter"></div>
                  <div class="renderer-container">
                    <div class="renderer markdown" v-html="viewContent"></div>
                  </div>
                </template>
              </div>
            </div>
        </div>
    </div>
  </div>
</template>


<script>
import axios from 'axios'

export default {
    data () {
        return {
            content: null,
            error: '',
            viewing: false,
            previewButtonName: 'view',
            viewContent: null,
            spinning: false,
            pasteLink: null,
            isError: false,
            placeholder: null
        }
    },

    methods: {
        previewOrEdit (event) {
            this.isError = false
            this.pasteLink = null

            if (!this.content) {
                return
            }
            if (this.viewing) {
                this.viewing = false
                this.previewButtonName = 'view'
                setTimeout(() => {
                    let area = document.querySelector('textarea')
                    area.focus()
                    area.setSelectionRange(area.value.length, area.value.length)
                }, 0)
                return
            }

            this.spinning = true
            axios.post('/api/preview_paste', {content: this.content})
                .then(res => {
                    this.viewContent = res.data
                    this.previewButtonName = 'edit'
                    this.viewing = true
                })
                .catch(err => {
                    this.isError = true
                    this.pasteLink = 'Fail to preview paste.'
                })
                .then(() => {
                    this.spinning = false
                })
        },

        commit (event) {
            this.isError = false
            this.pasteLink = null
            if (!this.content) {
                return
            }
            this.spinning = true
            axios.post('/api/commit_paste', {content: this.content})
                .then(res => {
                    console.log(res)
                    let pasteId = res.data
                    this.isError = false
                    let link = location.href
                    if (!link.endsWith('/')) {
                        link += '/'
                    }
                    link += pasteId
                    this.pasteLink = link
                })
                .catch(err => {
                    console.log(err)
                    this.isError = true
                    this.pasteLink = 'Fail to paste. Please try again later.'
                })
                .then(() => {
                    this.spinning = false
                })
        },

        select (event) {
            if (this.isError) {
                return
            }
            event.target.setSelectionRange(0,9999)
            // event.target.select()
            event.preventDefault()
        },

        contentFocus (event) {
            this.isError = false
            this.pasteLink = null
        }
    },

    beforeMount () {
      this.placeholder = 'Enter text here.'
    }
}
</script>

<style scoped>
.main {
  height:100%;
}

.editer-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.error {
  color: #ff0000a6;
  font-style: italic;
}

.renderer-container {
  padding: 9px;
  padding-bottom: 44px;
}

.view-container {
  display:flex;
  flex-direction:column;
  height:100%;
  padding:16px;
}

.action-container {
  margin: 16px 0 24px 0;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width : 985px) {
  input {
    margin-left: 0;
  }
}

.text-container {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

textarea {
  margin: 0;
  border: none;
  resize: none;
  width: 100%;
  padding: 9px;
  font: inherit;
}

textarea:focus,button:focus {
  outline: none;
}

.loader {
  width: 16px;
  height: 16px;
  margin-left: 15px;
}

input {
  width: 100%;
  margin-left: 24px;
  text-align: left;
  font-size: 14px;
  color: #7b7b7b;
  cursor: auto;
  border: none;
  text-overflow: ellipsis;
}

button {
  padding: 15px;
  border: none;
  background-color: var(--button-color);
  border-radius: 4px;
  text-transform: uppercase;
  transition: background-color 0.1s;
  color: var(--button-text-color);
}

.preview-button {
  width: 74px;
  margin-left: 15px;
}

button:disabled {
  color:var(--button-disabled-text-color);
}

button:active:not([disabled]) {
  background-color: #969696;
}

.button-wrapper {
  align-items: center;
  display: flex;
}

.splitter {
  width: 100%;
  border-top: 1px solid var(--border-color);
  margin-bottom: 9px;
}
</style>

<style>
body {
  /* min-height: 100vh; */
  position: absolute;
  height:100%;
}
</style>
